:root {
    --main-bg: #0d1117;
    --input-bg: #070a10;
    --input-border-focus: #388bfd;
    --input-border-shadow: #0c2d6b;
    --text-color: #c9d1d9;
    --text-color-blue: #58a6ff;
    --border-color: #21262d;
    --btn-bg: #21262d;
    --background-nav: #161b22;
    --btn-boder-color: #30363d;
    --btn-hover-bg: #30363d;
    --btn-hover-border: #8b949e;
}
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--main-bg);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body.light {
    --main-bg: #ffffff;
    --input-bg: #ffffff;
    --text-color: black;
    --border-color: #d1d3d4;
    --btn-bg: #fafbfc;
    --btn-boder-color: #d1d4d4;
    --text-color-blue: #0564d1;
    --btn-hover-bg: #c6dcfa;
    --btn-hover-border: #5e9add;
    --input-border-focus: #388bfd;
    --input-border-shadow: #b8cdea;
}

body.light .user-name {
    font-weight: 600 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.btn,
.pretty-span {
    background: var(--btn-bg);
    border: 1px solid var(--btn-boder-color);
    border-radius: 6px;
    padding: 5px 16px;
    color: var(--text-color);
    white-space: nowrap;
}

.btn:hover,
.pretty-span:hover,
select:hover {
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border);
    transition-duration: 0.1s;
}

.flex_align_center {
    display: flex;
    align-items: center;
}

.input {
    background: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 0 10px;
    height: 30px;
    color: var(--text-color);
}

.input:focus-visible {
    border-color: var(--input-border-focus);
    box-shadow: 0 0 0 3px var(--input-border-shadow);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
